.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 3s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.hidden-y {
    opacity: 0;
    transform: translateY(50%);
    transition: all 2s;
}

.show-y {
    opacity: 1;
    transform: translateY(0);
}

@keyframes float {
    0% {
        transform: translatey(20px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(20px);
    }
}


@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(100vh);
    }
    70% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes border_anim {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}